:root {
  --darkblue: #073962;
  --mint: #a7e4e1;
  --lightblue: #42bfdd;
  --pink: #fc7cbc;
  --white: #fff;
  --font-size: 1.3rem;
  --poiret: "Poiret One", cursive;
  --lato: "Lato", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--lato);
  background-color: var(--darkblue);
  color: var(--white);
  font-size: var(--font-size);
}

.title {
  font-family: var(--poiret);
  font-size: 3rem;
}

#about .name {
  color: var(--pink);
}

#about h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

a {
  color: var(--lightblue);
}

a:hover {
  color: var(--mint);
  text-decoration: none;
}

#contact {
  background-color: var(--mint);
  color: var(--darkblue);
  text-align: center;
  padding: 1.5rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

#contact a {
  color: var(--darkblue);
}

#contact a:hover {
  color: var(--lightblue);
}
