:root {
  --darkblue: #073962;
  --mint: #a7e4e1;
  --lightblue: #42bfdd;
  --pink: #fc7cbc;
  --white: #fff;
  --font-size: 1.3rem;
  --poiret: "Poiret One", cursive;
  --lato: "Lato", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--lato);
  background-color: var(--darkblue);
  color: var(--white);
  font-size: var(--font-size);
}

.title {
  font-family: var(--poiret);
  font-size: 3rem;
}
#about {
  padding: 2rem;
}
#about .name {
  color: var(--pink);
}

#about h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

a {
  color: var(--lightblue);
}

a:hover {
  color: var(--mint);
  text-decoration: none;
}

#contact {
  background-color: var(--mint);
  color: var(--darkblue);
  text-align: center;
  padding: 1.5rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

#contact a {
  color: var(--darkblue);
}

#contact a:hover {
  color: var(--lightblue);
}

nav {
  font-size: 90%;
}

nav h1 a {
  font-family: var(--poiret);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav h1 a:hover {
  color: var(--pink);
}

/* push onto its own line */
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

.button {
  color: var(--white);
  background-color: var(--pink);
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 5px;
}

.button:hover {
  color: var(--darkblue);
}

/* styles for larger screen size */
@media (min-width: 850px) {
  /* margin 0 auto centers it on the page */
  nav {
    margin: 0 auto;
    padding: 0rem 2rem;
  }
  /* push logo over to the left */
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

footer {
  text-align: center;
  font-family: var(--poiret);
  font-size: 1rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-weight: bold;
}
